* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

.allmain>h1 {
    background-color: black;
    color: black;
    height: 40px;
    text-align: center;
    padding: 20px 0px 20px 25%;
    margin: 0;
    border-radius: 0;
}

.header1 {
    background-color: #313246;
    height: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}

a {
    display: flex;
    color: white;
    text-decoration: none;
}

p {
    padding: 10px;
    font-size: 20px;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    margin: 10px 90px 10px 90px;
    border-radius: 20px;
}

.social-icons ul {
    margin: 0px;
    padding: 0px;
}

.social-icons ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
}

.social-icons ul li a {
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    background-color: #4e4e4e;
    text-decoration: none;
    border-radius: 50%;
    display: block;
}

.social-icons ul li a i {
    cursor: pointer;
    color: #ffffff;
    line-height: 50px;
    font-size: 22px;
    transition: all 0.4s;
}

.social-icons a:hover i {
    color: #ffeb3b;
    font-size: 28px;
}




.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}




@media (min-width:614px) {
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    .allmain>h1 {
        background-color: black;
        color: white;
        height: 40px;
        text-align: center;
        padding: 20px;
        margin: 0;
        border-radius: 0;
        font-size: 30px;
    }

    .header1 {
        display: flex;
        justify-content: space-around;
        background-color: black;
        font-size: 10px;
        gap: 40px;
        position: absolute;
        top: 20px;
        left: 70%;
    }

    p {
        padding: 10px;
        font-size: 20px;
        font-size: 15px;
    }

    img {
        width: 310px;
    }

    h1 {
        text-align: center;
        background-color: black;
        color: white;
        margin: 10px 400px 10px 400px;
        border-radius: 20px;
        font-size: 20px;
    }



    .social-icons ul {
        margin: 0px;
        padding: 0px;
    }

    .social-icons ul li {
        list-style: none;
        text-align: center;
        display: inline-block;
    }

    .social-icons ul li a {
        width: 50px;
        height: 50px;
        margin: 10px 5px;
        background-color: #4e4e4e;
        text-decoration: none;
        border-radius: 50%;
        display: block;
    }

    .social-icons ul li a i {
        cursor: pointer;
        color: #ffffff;
        line-height: 50px;
        font-size: 22px;
        transition: all 0.4s;
    }

    .social-icons a:hover i {
        color: #ffeb3b;
        font-size: 28px;
    }
}




.custom-loader {
    width: 240px;
    height: 44px;
    border-radius: 40px;
    color: #766DF4;
    border: 4px solid;
    position: relative;
}

.custom-loader::before {
    content: "";
    position: absolute;
    margin: 4px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: #766DF4;
    animation: p6 4s infinite;
}

@keyframes p6 {
    100% {
        inset: 0
    }
}